<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'app-academy-dashboard' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html' %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z" fill-opacity="0.9" />
        <path d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z" fill-opacity="0.4" />
      </svg>
    </a>
  </div>
  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    
    <li class="menu-item {% if request.resolver_match.url_name == 'app-academy-dashboard' %}active{% endif %}">
      <a href="{% url 'app-academy-dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div>Dashboard</div>
      </a>
    </li>

    <li class="menu-header mt-5">
      <span class="menu-header-text">Apps & Pages</span>
    </li>
    {% if user.is_superuser or user.userdosen or user.usermhs %}
    <li class="menu-item {% if request.resolver_match.url_name == 'chat-index' %}active{% endif %}">
      <a href="{% url 'chat-index' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-wechat-line"></i>
        <div>Chat</div>
      </a>
    </li>
    {% endif %}
    {% if user.is_superuser or user.userdosen %}
    <li class="menu-item {% if request.resolver_match.url_name == 'app-kanban' %}active{% endif %}">
      <a href="{% url 'app-kanban' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-drag-drop-line"></i>
        <div>Kanban</div>
      </a>
    </li>
    {% endif %}

    {% if user.is_superuser or user.userdosen %}
    <li class="menu-item {% if 'program-studi' in request.path or 'list-academy' in request.path or 'list-course' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-graduation-cap-line"></i>
        <div>Academy</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.resolver_match.url_name == 'program-studi-course' %}active{% endif %}">
          <a href="{% url 'program-studi-course' %}" class="menu-link">
            <div>Program Studi</div>
          </a>
        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'list-course-period' %}active{% endif %}">
          <a href="{% url 'list-course-period' %}" class="menu-link">
            <div>Periode</div>
          </a>
        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'list-academy-course' %}active{% endif %}">
          <a href="{% url 'list-academy-course' %}" class="menu-link">
            <div>List</div>
          </a>
        </li>
      
      </ul>
    </li>
    {% endif %}

    {% if user.usermhs %}
    <li class="menu-item {% if request.resolver_match.url_name == 'app-academy-course' %}active{% endif %}">
      <a href="{% url 'app-academy-course' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-graduation-cap-line"></i>
        <div>Course</div>
      </a>
    </li>
    {% endif %}

    {% if user.is_superuser %}
    <li class="menu-item {% if 'app-user' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div>Users</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.resolver_match.url_name == 'app-user-lists' %}active{% endif %}">
          <a href="{% url 'app-user-lists' %}" class="menu-link">
            <div>List</div>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}

    <li class="menu-header mt-5">
      <span class="menu-header-text">Others</span>
    </li>
    {% if user.usermhs %}
    <li class="menu-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
      <a href="{% url 'profile' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div>Profile</div>
      </a>
    </li>
    {% endif %}
        {% if user.userdosen %}
    <li class="menu-item {% if request.resolver_match.url_name == 'dosen-profile' %}active{% endif %}">
      <a href="{% url 'dosen-profile' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div>Profile</div>
      </a>
    </li>
    {% endif %}

    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ri-lifebuoy-line"></i>
        <div>Support</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ri-article-line"></i>
        <div>Documentation</div>
      </a>
    </li>

  </ul>
</aside>